header{
  background: lightskyblue;
}
body{
  background-color: lightpink;
}
footer{
  background: lightskyblue;
}
.links-styling{
  list-style-type: none ;
  /* padding: 0px; */
  display:flex;
  justify-content: center;
}
.links-styling a{
  padding: 10px;
  display: inline-flex;
}
.heading-index{
  font-family: "Montserrat",sans-serif;
}
.move-to-center{
  text-align: center;
}
.container{
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
}