header{
  background: lightskyblue;
}
body{
  background-color: lightpink;
}
footer{
  background: lightskyblue;
}
.links-styling{
  list-style-type: none ;
}

.heading-index{
  font-family: "Montserrat",sans-serif;
}
