body{
  background-color: #ffb6c1;
  color:black;
}
header{
  background:#8ED1FA;
}
footer{
  background: #8ED1FA;
}
.links-styling{
  list-style-type: none ;
  /* padding: 0px; */
  display:flex;
  justify-content: center;
}
.links-styling a{
  color: #121FA5;
  padding: 10px;
  display: inline-flex;
}
.heading-index{
  font-family: "Montserrat",sans-serif;
}
.move-to-center{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
#move-image{
  height: auto;
  max-width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}
.item3{
  grid-column: 1/2;
  grid-row: 2/3;
}
